@use "./abstracts" as *;


#Game {

    background-image: -webkit-gradient(linear, left top, left bottom, from(#1e528e), color-stop(50%, #728a7c), to(#e9ce5d));
    background-image: linear-gradient(to bottom, #1e528e 0%, #728a7c 50%, #e9ce5d 100%);
    height: 100svh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    nav {
        background-color: indigo;

        h6 {
            @include respond(350) {
                font-size: 8px;
            }

            @include respond(450) {
                font-size: 12px;
            }

            @include respond(650) {
                font-size: 14px;
            }

            @include respond(850) {
                font-size: 16px;
            }

            @include respond(1050) {
                font-size: 18px;
            }


        }
    }

    .chickenContainer {
        position: relative;
        height: 10%;

        .chicken {
            width: 8%;

            @include respond(350) {
                width: 18%;
            }

            @include respond(450) {
                width: 15%;
            }

            @include respond(650) {
                width: 10%;
            }

            @include respond(850) {
                width: 8%;
            }

            @include respond(1050) {
                width: 7%;
            }

            @include respond(1200) {
                width: 6%;
            }

            @include position($t: 0, $l: 0);
            transform: translateX(-50%);

            &:nth-child(1) {
                left: 15%;
            }

            &:nth-child(2) {
                left: 50%;
            }

            &:nth-child(3) {
                left: 85%;
            }

            img {
                position: relative;
            }

            i {
                @include position($t: 50%, $l: 50%);
                transform: translate(-50%, -50%);
                color: #fff;
            }
        }

        &::before {
            @include createEle(100%, 20px);
            background-color: #333;
            @include position($b: -55%, $l: 0);

            @include respond(350) {
                bottom: 0;
            }
        }
    }

    .brokenContainer {
        @include position($b: 25%, $l: 0);
        width: 100%;

        @include respond(350) {
            bottom: 15%;
        }

        .brokenEgg {
            width: 8%;

            @include respond(350) {
                width: 18%;
            }

            @include respond(450) {
                width: 15%;
            }

            @include respond(650) {
                width: 10%;
            }

            @include respond(850) {
                width: 8%;
            }

            @include respond(1050) {
                width: 7%;
            }

            @include respond(1200) {
                width: 6%;
            }

            @include position($t: 0, $l: 0);
            transform: translateX(-50%);
            display: none;

            img {
                position: relative;
            }

            &:nth-child(1) {
                left: 15%;
            }

            &:nth-child(2) {
                left: 50%;
            }

            &:nth-child(3) {
                left: 85%;
            }
        }
    }

    .popup {
        @include position($t: 50%, $l: 0);
        transform: translateY(-50%);
        width: 100%;
        cursor: pointer;
        z-index: 1000;
    }

    .basket {
        width: 200px;

        @include position($b: 25%, $l: 0);


        @include respond(350) {
            width: 100px;
            bottom: 15%;
        }

        @include respond(450) {
            width: 130px;
        }

        @include respond(650) {
            width: 140px;
        }

        h4 {
            @include position($b: 0, $l: 50%);
            transform: translateX(-50%);
        }
    }

    footer {
        @include position($b: -8%, $l: 0);
        width: 100%;

        @include respond(350) {
            bottom: -2%;
        }

        @include respond(1050) {
            bottom: -5%;
        }
    }
}